<div id="header" class="sticky clearfix header-md ">

	
	<header id="topNav">
		<div class="container">

			<!-- Mobile Menu Button -->
			<button class="btn btn-mobile" id="sidepanel_btn" >
				<i class="fa fa-bars"></i>
			</button>

			<!-- BUTTONS -->
			<ul class="pull-right nav nav-pills nav-second-main">

				<!-- SEARCH -->
				<li class="search">
					<a href="javascript:;">
						<i class="fa fa-search"></i>
					</a>
					<div class="search-box">
						<form action="/" method="get">
							<div class="input-group">
								<input type="text" name="src" placeholder="Search" class="form-control" />
								<span class="input-group-btn">
									<button class="btn btn-primary" type="submit">Search</button>
								</span>
							</div>
						</form>
					</div>
				</li>
				<!-- /SEARCH -->

			</ul>
			<!-- /BUTTONS -->

			<!-- Logo -->
			<a class="logo pull-left" href="/">
				<img src="/static/assets/images/logo_dark.png" alt="" />
			</a>

			<div class="navbar-collapse pull-right nav-main-collapse collapse submenu-dark">
				<nav class="nav-main">
					<ul id="topMain" class="nav nav-pills nav-main">
						{% channel data='channel'%}
						{% for val in channel%}
						<li class="{% if category.id|in_Array(val.on) %}active{% endif %}">
							<a href="/{{val.key}}" {%if val.target ==1%} target="_blank"{%endif%}>{{val.name}}</a>
						</li>
						{% endfor%}
					</ul>
				</nav>
			</div>

		</div>
	</header>
	<!-- /Top Nav -->

</div>
