{% extends "./inc/base.html" %}
{% block content %}
                <section class="vbox">
                    <header class="header bg-light dk">
                        <p>{{controller.meta_title}}【{{info.name}}】</p>
                    </header>
                    <section class="scrollable wrapper">
                      <div class="row"><div class="col-lg-12">
                        <section class="panel panel-default">
                            <div class="panel-body">
                                <form id="ajaxForm" method="post" class="form-horizontal" action="{{http.url}}" data-validate="parsley">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label"><i class="fa fa-asterisk text-danger"></i>用户组名称</label>
                                        <div class="col-sm-10">
                                            <div class="row">
                                                <div class="col-md-4">
                                            <input type="text" class="form-control" name="name" value="{{info.name if info.name else null}}"  data-required="true" data-rangelength="[2,8]" >
                                                </div>
                                                <div class="col-md-12">
                                                    <span class="help-block m-b-none text-muted"><i class="fa fa-info-circle text-info"></i> 请输入用户组名,用户组名应该为2-8位之间</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="line line-dashed b-b line-lg pull-in"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">用户名颜色</label>
                                        <div class="col-sm-10">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <input type="text" class="form-control" name="usernamecolor" value="{{info.usernamecolor}}">
                                                </div>
                                                <div class="col-md-12 hide">
                                                    <span class="help-block m-b-none text-muted"><i class="fa fa-info-circle text-info"></i> . </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="line line-dashed b-b line-lg pull-in"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">用户组图标</label>
                                        <div class="col-sm-10">
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <input type="text" class="form-control" name="icon" value="images/group/vip.jpg">
                                                </div>
                                                <div class="col-md-12 hide">
                                                    <span class="help-block m-b-none text-muted"><i class="fa fa-info-circle text-info"></i> . </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="line line-dashed b-b line-lg pull-in"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">描述</label>
                                        <div class="col-sm-10">
                                            <div class="row">
                                                <div class="col-md-5">
                                            <textarea class="form-control" name="description">{{ info.description }}</textarea>
                                                </div>
                                                <div class="col-md-12">
                                                    <span class="help-block m-b-none text-muted"><i class="fa fa-info-circle text-info"></i> 配置详细说明 </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group form-submit">
                                        <div class="col-sm-4 col-sm-offset-2">
                                            <input type="hidden" name="groupid" value="{{info.groupid}}">
                                            <button class="btn btn-primary ajax-post" target-form="form-horizontal" type="submit" >确定</button>
                                            <button class="btn btn-default" onclick="javascript:history.back(-1);return false;" type="submit">返回</button>

                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                      </div></div>
                    </section>
                </section>

{% endblock %}

{% block script%}
<script src="/static/admin/js/parsley/parsley.min.js" type="text/javascript"></script>
<script src="/static/admin/js/parsley/parsley.extend.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function(){


    })
</script>
{% endblock %}