{% extends "./inc/base.html" %}
{% block content %}
<section class="page-header dark page-header-xs parallax parallax-2" style="background-image: url('/static/assets/images/demo/thematics/lawyer/slider_bg_4-min.jpg'); background-position: 50% 50px;">
    <div class="overlay dark-2"><!-- dark overlay [1 to 9 opacity] --></div>
    <div class="container">

        <!--&lt;!&ndash;<h1>文章测试</h1>&ndash;&gt;-->

        <!--&lt;!&ndash; breadcrumbs &ndash;&gt;-->
        <!--<ol class="breadcrumb f-14">-->
            <!--<li><a href="/">首页 </a></li>-->


            <!--<li class="active">文章测试</li>-->


        <!--</ol>&lt;!&ndash; /breadcrumbs &ndash;&gt;-->

    </div>
</section>

<section>
    <div class="container">

        <div class="row">

            <!-- LEFT -->

            <div class="col-md-9 col-sm-9">

                <!-- REVOLUTION SLIDER -->

                <!-- /REVOLUTION SLIDER -->
                <ul class="nav nav-tabs nav-button-tabs">
                    <!-- side navigation -->
                    <li class="active"><a href="#taball" data-toggle="tab">最新</a></li>
                    <li><a href="#tab39" data-toggle="tab">最热</a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade in active" id="taball">


                        {% for data in list_new %}
                        <!-- POST ITEM -->
                        <div class="blog-post-item padding-bottom-20 margin-bottom-20 clearfix">

                            <!-- IMAGE -->

                            <figure class="blog-item-small-image margin-bottom-0">
                                <a href="/detail/{{data.category}}/{{data.id}}"><img class="img-responsive" src="{{data.thumb}}" alt="{{data.title}}"></a>
                            </figure>

                            <div class="blog-item-small-content">
                                <h2 class="size-20"><a href="/detail/{{data.category}}/{{data.id}}" title="{{data.title}}">{{data.title}}</a></h2>
                                <ul class="blog-post-info list-inline padding-bottom-10">
                                    <li>
                                        <i class="fa fa-clock-o" title="上映时间"></i><span class="font-lato">{{data.pdate}}年</span>
                                    </li>
                                    <li>
                                        <i class="fa fa-heart-o" title="评分"></i><span class="font-lato">{{data.score.toFixed(1)}}分</span>
                                    </li>
                                    <li>
                                        <i class="fa fa-folder-open-o" title="影片类型"></i><span class="font-lato">{{data.category}}</span>
                                    </li>
                                    <li>
                                        <i class="fa fa-users" title="主演"></i><span class="font-lato">{{data.actor}}</span>
                                    </li>
                                </ul>
                                <p>{{data.desc}}</p>
                            </div>

                        </div>
                        <!-- /POST ITEM -->
                        {% endfor %}

                    </div>

                    <div class="tab-pane fade  " id="tab39">


                        <!-- POST ITEM -->
                        <div class="blog-post-item padding-bottom-20 margin-bottom-20 clearfix">

                            <!-- IMAGE -->

                            <figure class="blog-item-small-image margin-bottom-0">
                                <img class="img-responsive" src="//data.cmswing.com/gkkFf1aQOmHoPGVCzEGFqxVw.jpg?imageView2/1/w/200/h/120" alt="">
                            </figure>

                            <div class="blog-item-small-content">
                                <h2 class="size-20"><a href="/detail/105">你看不懂的Cos、ACG，是他攻占二次元的第一座城池</a></h2>

                                <ul class="blog-post-info list-inline padding-bottom-10">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-clock-o"></i>
                                            <span class="font-lato">2016-05-22 23:03</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-comment-o"></i>
                                            <span class="font-lato">217</span>
                                        </a>
                                    </li>
                                    <li>
                                        <i class="fa fa-folder-open-o"></i>

                                        <a class="category" href="/column/renwu">
                                            <span class="font-lato">人物</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-user"></i>
                                            <span class="font-lato">admin</span>
                                        </a>
                                    </li>
                                </ul>

                                <p>越来越火的B站，刷爆朋友圈的《美国队长3》、《火影忍者》……当大批90后成为职场新人、年轻消费的主力军，二次元就像是一股“洪流”，流出小圈子，不经意从生活缝隙中喷薄而出。...</p>
                            </div>

                        </div>
                        <!-- /POST ITEM -->


                        <!-- PAGINATION -->
                        <div class="text-center">
                            <a href="/column/renwu" class="btn btn-reveal btn-default">
                                <i class="fa fa-plus"></i>
                                <span>查看全部内容</span>
                            </a>
                        </div>
                        <!-- /PAGINATION -->
                    </div>


                </div>

            </div>
            <!-- RIGHT -->

            <div class="col-md-3 col-sm-3">

                <!-- INLINE SEARCH -->
                <div class="inline-search clearfix margin-bottom-30">
                    <form action="" method="get" class="widget_search">
                        <input type="search" placeholder="Start Searching..." id="s" name="s" class="serch-input">
                        <button type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                </div>
                <!-- /INLINE SEARCH -->

                <hr>

                <!-- side navigation -->


                <div class="side-nav margin-bottom-20 margin-top-20">
                    <div class="side-nav-head">
                        <button class="fa fa-bars"></button>
                        <h4>文章测试 子分类</h4>
                    </div>
                    <ul class="list-group list-group-bordered list-group-noicon uppercase">

                        <li class="list-group-item"><a href="/column/renwu"><span class="size-11 text-muted pull-right">(22)</span> 人物</a></li>

                        <li class="list-group-item"><a href="/column/dianshang"><span class="size-11 text-muted pull-right">(0)</span> 电商</a></li>

                        <li class="list-group-item"><a href="/column/touchuang"><span class="size-11 text-muted pull-right">(1)</span> 投创</a></li>

                        <li class="list-group-item"><a href="/column/zhinengyingjian"><span class="size-11 text-muted pull-right">(0)</span> 智能硬件</a></li>

                        <li class="list-group-item"><a href="/column/hulianwang"><span class="size-11 text-muted pull-right">(2)</span> 互联网＋</a></li>

                        <li class="list-group-item"><a href="/column/jutou"><span class="size-11 text-muted pull-right">(19)</span> 巨头</a></li>

                    </ul>
                    <!-- /side navigation -->
                </div>




                <!-- JUSTIFIED TAB -->
                <!--<div class="tabs nomargin-top hidden-xs margin-bottom-10">-->

                    <!--&lt;!&ndash; tabs &ndash;&gt;-->
                    <!--<ul class="nav nav-tabs nav-bottom-border nav-justified">-->
                        <!--<li class="active">-->
                            <!--<a href="#tab_1" data-toggle="tab">-->
                                <!--最热-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="#tab_2" data-toggle="tab">-->
                                <!--最新-->
                            <!--</a>-->
                        <!--</li>-->
                    <!--</ul>-->

                    <!--&lt;!&ndash; tabs content &ndash;&gt;-->
                    <!--<div class="tab-content margin-bottom-0 margin-top-10">-->

                        <!--&lt;!&ndash; POPULAR &ndash;&gt;-->
                        <!--<div id="tab_1" class="tab-pane active">-->
                            <!--&lt;!&ndash;topic tags test&ndash;&gt;-->

                            <!--&lt;!&ndash;返回数据赋值给变量data,遍历data&ndash;&gt;-->

                            <!--<div class="row tab-post">&lt;!&ndash; post &ndash;&gt;-->

                                <!--<div class="col-md-3 col-sm-3 col-xs-3">-->
                                    <!--<a href="/detail/102">-->
                                        <!--<img src="//data.cmswing.com/S1zY2SmMFYYwywx8KYScYFrO.jpg?imageView2/1/w/50/h/50" width="50" alt="">-->
                                    <!--</a>-->
                                <!--</div>-->

                                <!--<div class="col-md-9 col-sm-9 col-xs-9">-->
                                    <!--<a href="/detail/102" class="tab-post-link">为什么富二代们都跟着王思聪玩电竞？</a>-->
                                    <!--<small>2016-05-16 18:31</small>-->
                                <!--</div>-->
                            <!--</div>&lt;!&ndash; /post &ndash;&gt;-->

                            <!--<div class="row tab-post">&lt;!&ndash; post &ndash;&gt;-->

                                <!--<div class="col-md-3 col-sm-3 col-xs-3">-->
                                    <!--<a href="/detail/105">-->
                                        <!--<img src="//data.cmswing.com/gkkFf1aQOmHoPGVCzEGFqxVw.jpg?imageView2/1/w/50/h/50" width="50" alt="">-->
                                    <!--</a>-->
                                <!--</div>-->

                                <!--<div class="col-md-9 col-sm-9 col-xs-9">-->
                                    <!--<a href="/detail/105" class="tab-post-link">你看不懂的Cos、ACG，是他攻占二次元的第一座城池</a>-->
                                    <!--<small>2016-05-22 23:03</small>-->
                                <!--</div>-->
                            <!--</div>&lt;!&ndash; /post &ndash;&gt;-->


                        <!--</div>-->
                        <!--&lt;!&ndash; /POPULAR &ndash;&gt;-->


                        <!--&lt;!&ndash; RECENT &ndash;&gt;-->
                        <!--<div id="tab_2" class="tab-pane">-->



                            <!--<div class="row tab-post">&lt;!&ndash; post &ndash;&gt;-->

                                <!--<div class="col-md-9 col-sm-9 col-xs-9">-->
                                    <!--<a href="/detail/245" class="tab-post-link">投稿测试投稿测试投稿测试2121</a>-->
                                    <!--<small>2016-08-24 13:45</small>-->
                                <!--</div>-->
                            <!--</div>&lt;!&ndash; /post &ndash;&gt;-->

                            <!--<div class="row tab-post">&lt;!&ndash; post &ndash;&gt;-->

                                <!--<div class="col-md-9 col-sm-9 col-xs-9">-->
                                    <!--<a href="/detail/248" class="tab-post-link">ewrwerewrewrwr</a>-->
                                    <!--<small>2016-08-16 19:57</small>-->
                                <!--</div>-->
                            <!--</div>&lt;!&ndash; /post &ndash;&gt;-->

                        <!--</div>-->
                        <!--&lt;!&ndash; /RECENT &ndash;&gt;-->

                    <!--</div>-->

                <!--</div>-->
                <!-- JUSTIFIED TAB -->


                <!-- TAGS -->
                <h3 class="hidden-xs size-16 margin-bottom-20">TAGS</h3>
                <div class="hidden-xs margin-bottom-20">

                    <a class="tag" href="#">
                        <span class="txt">RESPONSIVE</span>
                        <span class="num">12</span>
                    </a>
                    <a class="tag" href="#">
                        <span class="txt">CSS</span>
                        <span class="num">3</span>
                    </a>
                    <a class="tag" href="#">
                        <span class="txt">HTML</span>
                        <span class="num">1</span>
                    </a>
                    <a class="tag" href="#">
                        <span class="txt">JAVASCRIPT</span>
                        <span class="num">28</span>
                    </a>
                    <a class="tag" href="#">
                        <span class="txt">DESIGN</span>
                        <span class="num">6</span>
                    </a>
                    <a class="tag" href="#">
                        <span class="txt">DEVELOPMENT</span>
                        <span class="num">3</span>
                    </a>
                </div>



                <hr>


                <!-- SOCIAL ICONS -->
                <div class="hidden-xs margin-top-30 margin-bottom-60">
                    <a href="#" class="social-icon social-icon-border social-facebook pull-left" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
                        <i class="icon-facebook"></i>
                        <i class="icon-facebook"></i>
                    </a>

                    <a href="#" class="social-icon social-icon-border social-twitter pull-left" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
                        <i class="icon-twitter"></i>
                        <i class="icon-twitter"></i>
                    </a>

                    <a href="#" class="social-icon social-icon-border social-gplus pull-left" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google plus">
                        <i class="icon-gplus"></i>
                        <i class="icon-gplus"></i>
                    </a>

                    <a href="#" class="social-icon social-icon-border social-linkedin pull-left" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
                        <i class="icon-linkedin"></i>
                        <i class="icon-linkedin"></i>
                    </a>

                    <a href="#" class="social-icon social-icon-border social-rss pull-left" data-toggle="tooltip" data-placement="top" title="" data-original-title="Rss">
                        <i class="icon-rss"></i>
                        <i class="icon-rss"></i>
                    </a>
                </div>

            </div>
        </div>


    </div>
</section>
{% endblock %}