<!-- .aside -->
<aside class="bg-black dk aside hidden-print {%if navxs %} nav-xs {% endif %}" id="nav">
    <section class="vbox">
        <section class="w-f-md scrollable">
            <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0"
                 data-size="10px" data-railOpacity="0.2">

                <!-- nav -->
                <nav class="nav-primary hidden-xs">
                    <ul class="nav" data-ride="collapse">
                        <!--111111111111111111-->
                        <li class="hidden-nav-xs padder m-t m-b-sm text-xs text-muted">
                            <span class="pull-right"><a href="#40"><i class="icon-plus i-lg"></i></a></span>系统
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="auto">
                                <span class="pull-right text-muted">
                                  <i class="fa fa-angle-left text"></i>
                                  <i class="fa fa-angle-down text-active"></i>
                                </span>
                                <i class="icon-screen-desktop icon"></i><span>用户管理</span>
                            </a>
                            <ul class="nav dk text-sm">
                                <li>
                                    <a href="/admin/user/index" class="auto">
                                        <i class="fa fa-angle-right text-xs"></i><span>用户信息</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/admin/auth/index" class="auto">
                                        <i class="fa fa-angle-right text-xs"></i><span>权限管理</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/admin/action/index" class="auto">
                                        <i class="fa fa-angle-right text-xs"></i><span>用户行为</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/admin/action/log" class="auto">
                                        <i class="fa fa-angle-right text-xs"></i><span>行为日志</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="active">
                            <a href="javascript:void(0);" class="auto">
                                <span class="pull-right text-muted">
                                  <i class="fa fa-angle-left text"></i>
                                  <i class="fa fa-angle-down text-active"></i>
                                </span>
                                <i class="icon-screen-desktop icon"></i><span>系统设置</span>
                            </a>
                            <ul class="nav dk text-sm">
                                <li class="active">
                                    <a href="/admin/model/index" class="auto">
                                        <i class="fa fa-angle-right text-xs"></i><span>模型管理</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/admin/setup/group" class="auto">
                                        <i class="fa fa-angle-right text-xs"></i><span>配置管理</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/admin/database/index" class="auto">
                                        <i class="fa fa-angle-right text-xs"></i><span>备份数据库</span>
                                    </a>
                                </li>

                            </ul>
                        </li>
                    </ul>
                </nav>
                <!-- / nav -->
            </div>
        </section>

    </section>
</aside>
<!-- /.aside -->